@charset "ISO-8859-1";

body{
	background-image:url(../images/books3.jpg);	
	background-size: cover;	
}

.mx-auto {
 margin-right: auto !important;
 margin-left: auto !important;
}


#tablelist{
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
    margin-top: 15%;
    opacity: .8;
}